<section class="app">
  <header class="header">
    <h1 class="title">Generador de Calendarios Deportivos</h1>
  </header>
  <section class="body-calendar">
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-control">
          <label for="teams">Número de equipos</label>
          <input formControlName="n" name="teams" placeholder="4" type="number"/>
        </div>
        <div class="form-control">
          <label for="min">Tamaño minimo de partidos de local y fuera de casa</label>
          <input formControlName="min" name="min" placeholder="1" type="number"/>
        </div>
        <div class="form-control">
          <label for="max">Tamaño máximo de partidos de local y fuera de casa</label>
          <input formControlName="max" name="max" placeholder="3" type="number"/>
        </div>
        <div class="form-control">
          <label for="matrix">Matriz de distancias nxn</label>
          <input formControlName="d" name="matrix" placeholder="[|1,3,4,5,|,2,4,5,3,|3,1,4,5|]" type="text"/>
        </div>
        <label></label>
        <button class="btn" type="submit" [disabled]="!form.valid">Calcular Calendario</button>
        <a class="download-file" [ngClass]="{ 'disabled': !form.valid }" href="#" (click)="downloadFile()">Descargar archivo .dzn</a>
      </form>
    </div>
  </section>
  <section *ngIf="calendar.length" class="calendar-solution">
    <h1 class="title">Calendario</h1>
    <h2 class="subtitle">Costo mínimo logrado: {{cost}}</h2>
    <div class="calendar-results">
      <div class="calendar-key" *ngFor="let round of calendar; let i = index;">
        <div class="calendar-titles">
          <span class="calendar-local">Local</span>
          <span class="calendar-date">Fecha {{i + 1}}</span>
          <span class="calendar-visitante">Visitante</span>
        </div>
        <div class="calendar-teams" *ngFor="let team of round | filterTeams; let j = index;">
          <span class="calendar-teams__left">Equipo {{team.local}}</span>
          <span class="calendar-teams__vs">VS</span>
          <span class="calendar-teams__right">Equipo {{team.visitante}}</span>
        </div>
      </div>
    </div>
  </section>
</section>
