<section class="app">
  <header class="header">
    <h1 class="title">Problema del torneo</h1>
  </header>
  <section class="body-calendar">
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-control">
          <label for="teams">Número de equipos</label>
          <input formControlName="n" name="teams" placeholder="4" type="number"/>
        </div>
        <div class="form-control">
          <label for="min">Tamaño minimo de partidos de local y fuera de casa</label>
          <input formControlName="min" name="min" placeholder="1" type="number"/>
        </div>
        <div class="form-control">
          <label for="max">Tamaño máximo de partidos de local y fuera de casa</label>
          <input formControlName="max" name="max" placeholder="3" type="number"/>
        </div>
        <div class="form-control">
          <label for="matrix">Matriz de distancias nxn</label>
          <input formControlName="d" name="matrix" placeholder="[|1,3,4,5,|,2,4,5,3,|3,1,4,5|]" type="text"/>
        </div>
        <label></label>
        <button class="btn" type="submit" [disabled]="!form.valid">Calcular Calendario</button>
      </form>
    </div>
  </section>
</section>
